<footer>
  <h4>Developed by Gregório Neto &copy;</h4>
  <a href="https://www.linkedin.com/in/greg%C3%B3rio-neto-a0119b239/" target="_blank"> <img src="/img/linkedin.png">
  </a>
  <a href="https://github.com/GregorioGrGeOtOl" target="_blank"> <img src="/img/git.png">
  </a>
</footer>